<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p> Hi, {{name}}</p>
    <p>It looks like you requested a new password</p>
    <p>If was you, click in the link below to generate a new password.</p>
    <p>
        <a href="{{link}}">Generate new password</a>
    </p>
    <p>If it wasn't you please disregar this email.</p>
    <p>Att, equip GoBarber ♥ </p>
</div>
